body {
	background: #fff;
	color: #222;
	font: 100%/1.5em "Helvetica Neue",Arial,Helvetica,sans-serif;
	margin: 0 auto;
	width: 48em;
}

a,
a:link,
a:visited {
	color: #339;
}
a:active,
a:hover {
	color: #00f;
}

h1 {
	color: #000;
	font-size: 2em;
	line-height: 1.5em;
	padding: 1.5em 0;
}
h2 {
	font-size: 1.25em;
	line-height: 1.2em;
}
h1 + p {
	padding: 0 0 1.5em;
}

.events {
	float: left;
	padding: 0 0 3em;
	width: 100%;
}
.events li {
	border: 0.5em solid #eee;
	float: left;
	height: 4.5em;
	margin: 0 1em 1em 0;
	padding: 0.5em;
	width: 13em;
}

.events .lrug {
	border-color: #c61a1a;
}
.events .phplondon {
  border-color: #777bb4;
}
.events .djugl {
  border-color: #487858;
}
.events .lpm {
  border-color: #0087d9;
}
.events .dotnet {
  border-color: #4b5054;
}
.events .gllug {
  border-color: #0c0f67;
}
.events .javascripters {
  border-color: #f7eee2;
}
.events .devops {
  border-color: #cee1ef;
}
.events .lfpug {
  border-color: #3e1126;
}
.events .lmug {
  border-color: #2d2d2d;
}
.events .wlbcs {
  border-color: #006633;
}
.events .lhug {
  border-color: #dbe59f;
}
.events .erlangers {
  border-color: #6e1b29;
}
.events .lsug {
  border-color: #a20018;
}
.events .lfdnd {
  border-color: #670014;
}
.events .flug {
  border-color: #5fb0f2;
}
.events .pubstandards {
  border-color: #edebb2;
}
.events .dorkbot {
  border-color: #80b704;
}
.events .when.date {
  font-style: italic;
}
.events .add_event {
	background: #ff9;
	border-color: #ff9;
}
.events .add_event h2 {
	padding: 1.2em;
	text-align: center;
}

.footer {
	border-top: 1px solid #eee;
	clear: both;
	color: #ccc;
	padding: 0.75em 0;
}
.footer a {
	color: #ccc;
}
