/* STYLES IN USE */

.events #geeksinthepub {
    border-color: #c61a1a;
}
.events #shrug {
  border-color: #777bb4;
}
.events #pysheff {
  border-color: #487858;
}
.events #firstplay {
  border-color: #0087d9;
}
.events #dotnet {
  border-color: #4b5054;
}
.events #wpsheffield {
  border-color: #0c0f67;
}
.events #hardwarehackers {
  border-color: #f7eee2;
}
.events #opendata {
  border-color: #cee1ef;
}
.events #openrightsgroup {
  border-color: #3e1126;
}
.events #php {
  border-color: #2d2d2d;
}
.events #raspi {
  border-color: #006633;
}
.events #startup {
  border-color: #dbe59f;
}
/* END OF STYLES IN USE */

/* SPARE STYLES */







.events #lhug {
  border-color: #dbe59f;
}
.events #erlangers {
  border-color: #6e1b29;
}
.events #lsug {
  border-color: #a20018;
}
.events #lfdnd {
  border-color: #670014;
}
.events #flug {
  border-color: #5fb0f2;
}
.events #pubstandards {
  border-color: #edebb2;
}
.events #dorkbot {
  border-color: #80b704;
}
.events #hackspace {
  border-color: #3528a8;
}
.events #funix {
  border-color: #cccccc;
}
.events #xforms {
  border-color: #ffccff;
}
.events #hackspace {
  border-color: #3528a8;
}
.events #lnug {
  border-color: #353129;
}
.events #when.date {
  font-style: italic;
}
.events #add_event {
    background: #ff9;
    border-color: #ff9;
}
.events #add_event h2 {
    padding: 1.2em;
    text-align: center;
}

/* END OF SPARE STYLES */